{% extends 'layout/sign_base.html' %}

{% block form_title %}Register{% endblock %}

{% block content %}
    <form method="post" action="" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.fullname.label }}
            {{ form.fullname(class='form-control') }}
            {% for error in form.fullname.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class='form-control') }}
            {% for error in form.email.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class='form-control') }}
            {% for error in form.username.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class='form-control') }}
            {% for error in form.password.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class='form-control') }}
            {% for error in form.confirm_password.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class='btn btn-primary btn-block') }}
    </form>

{% endblock %}

{% block footer %}
    <div class="text-center">
        <a class="d-block small mt-3" href="{{ url_for('auth.login') }}">Login</a>
        <a class="d-block small" href="{{ url_for('main.index') }}">Home</a>
    </div>

{% endblock %}