{% extends 'layout/layout.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('users.list') }}">Users</a></li>
    <li class="breadcrumb-item active">{{ _('Add user') }}</li>
{% endblock %}
{% block content %}
    <div class="card mt-3">
        <div class="card-header"><h3>{{ _('Create a new user') }}</h3></div>
        <div class="card-body">
            <form method="post" action="" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    {{ form.hidden_tag() }}
                </div>
                <div class="form-group">
                    {{ form.fullname.label }}
                    {{ form.fullname(class='form-control') }}
                    {% for error in form.fullname.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class='form-control') }}
                    <ul>
                    {% for error in form.email.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class='form-control') }}
                    <ul>
                    {% for error in form.username.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class='form-control', placeholder='type at least 8 characters') }}
                    <ul>
                    {% for error in form.password.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class='form-control', placeholder='type at least 8 characters') }}
                    <ul>
                    {% for error in form.confirm_password.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.roles.label }}
                    {{ form.roles(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.status.label }}
                    <div>{{ form.status }}</div>
                </div>
                <div class="form-group">
                    {{ form.image.label }}
                    {{ form.image(class='form-control', style='height: auto;') }}
                    {% for error in form.image.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div>
                    <button type="button" class="btn btn-primary float-right ml-1" id="btn-cancel">{{ _('Cancel') }}</button>
                    {{ form.submit(class='btn btn-success float-right') }}
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block inlinejs %}
<script>
    $(document).ready(function () {
        $("#roles").select2();
        $("#status").bootstrapSwitch();
        $("#btn-cancel").on("click", function () {
            window.location.assign("{{ url_for('users.list') }}");
        });
    });
</script>
{% endblock %}
