{% extends 'layout/layout.html' %}
{% from 'macro/pagination.html' import render_pagination %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ _('Users') }}</li>
{% endblock %}
{% block content %}
    <div style="margin-bottom: 10px;">
        <a href="#search-filters" class="btn btn-secondary float-right ml-1" data-toggle="collapse" role="button" >
                {{ _('Filters') }}
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="search-filters">
            <form method="get">
                <div class="form-group">
                    <label for="email">{{ _('Email') }}</label>
                    <input type="text" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="role">{{ _('Role') }}</label>
                    <select class="form-control" name="role" id="role">
                        <option value="0"></option>
                        <option value="1">Administrator</option>
                        <option value="2">Editor</option>
                        <option value="3">User</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success float-right ml-1">{{ _('Search') }}</button>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3>{{ _('List of users') }}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-ssecondary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ _('Full name') }}</th>
                        <th scope="col">{{ _('Username') }}</th>
                        <th scope="col">{{ _('Email') }}</th>
                        <th scope="col" class="text-center">{{ _('Status') }}</th>
                        <th scope="col" class="text-center">{{ _('Edit') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users.items %}
                        <tr>
                            <th scope="row"><a href="{{ url_for('users.update', id=user.id) }}">{{ user.id }}</a></th>
                            <td>{{ user.fullname }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td class="text-center">
                                {% if user.status %}
                                    <i class="fa fa-check text-success" title="Active">&nbsp;</i>
                                {% else %}
                                    <i class="fa fa-ban text-danger" title="Inactive"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('users.update', id=user.id) }}" class="btn btn-info" title="{{ _('Edit user') }}">
                                    <i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                {{ render_pagination(users, 'users.list') }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block inlinejs %}
    <script>
        $(document).ready(function () {
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            PNotify.success({
                title: 'Saving user',
                text: '{{ message }}',
                styling: 'material',
            });
            {% endfor %}
            {% endwith %}

            $("#role").select2({
                width: '100%'
            });
        });
    </script>
{% endblock %}