{% extends 'layout/layout.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('users.list') }}">Users</a></li>
    <li class="breadcrumb-item active">{{ _('Update user') }}</li>
{% endblock %}
{% block content %}
    <div class="card mt-3 clearfix">
        <div class="card-header">
            <h3 class="float-left">{{ _('Update user with') }} {{ form.id.label }}: #{{ form.id.data }}</h3>
            <span class="float-right"><strong>{{ _('Created') }}:</strong>
                {{ form.createdat.data | localdatetime }}
            </span>
        </div>
        <div class="card-body">
            <form method="post" action="" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    {{ form.hidden_tag() }}
                </div>
                <div class="form-group">
                    {{ form.fullname.label }}
                    {{ form.fullname(class='form-control') }}
                    {% for error in form.fullname.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class='form-control') }}
                    <ul>
                    {% for error in form.email.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class='form-control') }}
                    <ul>
                    {% for error in form.username.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class='form-control', placeholder=_('type at least 8 characters')) }}
                    <ul>
                    {% for error in form.password.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class='form-control', placeholder=_('type at least 8 characters')) }}
                    <ul>
                    {% for error in form.confirm_password.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.roles.label }}
                    {{ form.roles(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.status.label }}
                    <div>{{ form.status }}</div>
                </div>
                {% if form.image.data is not none %}
                    <div class="form-group">
                        <label>{{ _('Existing image') }}</label>&nbsp;&nbsp;&nbsp;
                        <div class="form-control">
                            <span class="fa fa-image" aria-hidden="true" data-image-url="{{ form.image.data }}"></span>
                            &nbsp;&nbsp;&nbsp;
                            {{ form.delete }}&nbsp;{{ form.delete.label }}
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.image.label }}
                    {{ form.image(class='form-control', style='height: auto;') }}
                    {% for error in form.image.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div>
                    <button type="button" class="btn btn-primary float-right ml-1" id="btn-cancel">{{ _('Cancel') }}</button>
                    {{ form.submit(class='btn btn-success float-right') }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block inlinejs %}
<script>
    $(document).ready(function () {
        $("#roles").select2();
        $("#status").bootstrapSwitch();
        $("#btn-cancel").on("click", function () {
            window.location.assign("{{ request.referrer }}");
        });

       $(".fa-image").popover({
                'container': 'body',
                'title': 'Photo',
                'html': true,
                'trigger': 'hover',
                'content': function() {
                        return '<img src="{{ url_for('static', filename='images/users/' ~ form.image.data) }}' + '" style="width:200px;" alt="user image">'
                    }
            });

    });
</script>
{% endblock %}
