{% extends 'layout/layout.html' %}

{% block content %}
    <div>
        {% set filename = url_for('static', filename='images/articles/' ~ article.image) %}
        <img src="{{ filename }}" class="card-img-top" alt="article's image">
        <p><h2>{{ article.title }}</h2></p>
        <div>
            <p>{{ article.author.fullname }} - {{ article.createdat | localdatetime }}</p>
        </div>
        <div>
            {{ article.slug | safe }} {{ article.body | safe }}
        </div>
    </div>
{% endblock %}