{% extends 'layout/layout.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ _('Dashbord') }}</li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-users"></i>
                    </div>
                    <div class="mr-4">
                        <h1 class="d-inline">{{ data['users_count'] }}

                        </h1>
                        <h2><small>{{ _('users') }}</small></h2>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ url_for('users.list') }}">
                    <span class="float-left">{{ _('List') }}</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-newspaper-o"></i>
                    </div>
                    <div class="mr-4">
                        <h1 class="d-inline">{{ data['articles_count'] }}</h1>
                        <h2><small>{{ _('news') }}</small></h2>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ url_for('articles.list') }}">
                    <span class="float-left">{{ _('List') }}</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> User Registration</div>
        <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">&nbsp;</div>
    </div>

{% endblock %}

{% block inlinejs %}
    <script>
    $(document).ready(function () {
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ data['dates'] | tojson }},
                datasets: [{
                    label: "Registrations",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(2,117,216,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(2,117,216,1)",
                    pointHitRadius: 20,
                    pointBorderWidth: 2,
                    data: {{ data['users'] }},
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 20,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });
    });
    </script>
{% endblock %}