{% extends 'layout/layout.html' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-header">
            <h3>{{ _('Global Settings') }}</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                </div>
                <div class="form-group">
                    <strong>{{ form.offline.label }}</strong>
                    <div>{{ form.offline }}</div>
                </div>
                <div class="form-group">
                    <strong>{{ form.registration.label }}</strong>
                    <div>{{ form.registration }}</div>
                </div>
                {{ form.submit(class='btn btn-success float-right') }}
            </form>
        </div>
    </div>
{% endblock %}

{% block inlinejs %}
    <script>
    $(document).ready(function () {
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            PNotify.success({
                title: 'Saving Settings',
                text: '{{ message }}',
                styling: 'material',
            });
            {% endfor %}
        {% endwith %}

        $("#offline").bootstrapSwitch();

        $("#registration").bootstrapSwitch();
    })
    </script>
{% endblock %}