<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Flask demo application">
    <meta name="author" content="Dimitris Vossos">
    <title>Flaks Demo Application</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{{ url_for('static', filename='node_modules/select2/dist/css/select2.css') }}" rel="stylesheet">
    <!-- Bootstrap-switch -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css') }}" rel="stylesheet">
    <!-- PNotify -->
    <link href="{{ url_for('static', filename='node_modules/pnotify/dist/PNotifyBrightTheme.css') }}" rel="stylesheet">
    <!-- Datatables -->
    <link href="{{ url_for('static', filename='node_modules/datatables/media/css/jquery.dataTables.css') }}" rel="stylesheet">
    <!-- Summernote -->
    <link href="{{ url_for('static', filename='node_modules/summernote/dist/summernote-lite.css') }}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask Demo Application<br/></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="{{ url_for('main.dashboard') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">{{ _('Dashboard') }}</span>
                </a>
            </li>
            {% if current_user.has_role('Administrator') %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsers"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">{{ _('Users') }}</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseUsers">
                    <li>
                        <a href="{{ url_for('users.list') }}">{{ _('List') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('users.add') }}">{{ _('Add') }}</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseArticles"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-newspaper-o"></i>
                    <span class="nav-link-text">{{ _('Articles') }}</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseArticles">
                    <li>
                        <a href="{{ url_for('articles.list_view') }}">{{ _('List') }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('articles.add') }}">{{ _('Add') }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2" method="post" action="{{ url_for('main.search_list') }}">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for articles" name="search">
                        <span class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
            </li>
            {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">
                        <i class="fa fa-fw fa-sign-out"></i>{{ _('Login') }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                        <i class="fa fa-fw fa-sign-out"></i>{{ _('Logout') }}</a>
                </li>
            {% endif %}
            {%  if not 'el' in request.path %}
                <li class="nav-item">
                    <a href="/el{{ request.path }}" class="nav-link">EL</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ request.url | replace('el/', '') }}" class="nav-link">EN</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('main.index') }}">{{ _('Home') }}</a>
            </li>
            {% block breadcrumb %}{% endblock %}
        </ol>
        <div class="row">
            <div class="col-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ _('Ready to Leave?') }}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{{ _('Select "Logout" below if you are ready to end your current session.') }}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ _('Cancel') }}</button>
                    <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='node_modules/jquery-easing/dist/jquery.easing.1.3.umd.min.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
    <!-- Select2 -->
    <script src="{{ url_for('static', filename='node_modules/select2/dist/js/select2.js') }}"></script>
    <!-- Boottrap-switch -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap-switch/dist/js/bootstrap-switch.js') }}"></script>
    <!-- PNotify -->
    <script src="{{ url_for('static', filename='node_modules/pnotify/dist/iife/PNotify.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/pnotify/dist/iife/PNotifyStyleMaterial.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/pnotify/dist/iife/PNotifyButtons.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ url_for('static', filename='node_modules/datatables/media/js/jquery.dataTables.js') }}"></script>
    <!-- Charts -->
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.js') }}"></script>
    <!-- Summernote -->
    <script src="{{ url_for('static', filename='node_modules/summernote/dist/summernote-lite.js') }}"></script>

    {% block inlinejs %}{% endblock %}
</div>
</body>

</html>
