{% extends 'layout/layout.html' %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('articles.list_view') }}">Articles</a></li>
    <li class="breadcrumb-item active">{{ _('Update article') }}</li>
{% endblock %}
{% block content %}
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="float-left">{{ _('Update article with') }} {{ form.id.label }}: #{{ form.id.data }}</h3>
            <span class="float-right"><strong>{{ _('Created') }}:</strong>
                {{ form.createdat.data | localdatetime }}
            </span>
        </div>
        <div class="card-body">
            <form method="post" action="" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    {{ form.hidden_tag() }}
                </div>
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(class='form-control') }}
                    {% for error in form.title.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.slug.label }}
                    {{ form.slug(class='form-control') }}
                    <ul>
                    {% for error in form.slug.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.body.label }}
                    {{ form.body(class='form-control', rows=10) }}
                    <ul>
                    {% for error in form.body.errors %}
                        <li><small class="form-text text-danger">{{ error }}</small></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form-group">
                    {{ form.status.label }}
                    <div>{{ form.status }}</div>
                </div>
                {% if form.image.data is not none %}
                    <div class="form-group">
                        <label>{{ _('Existing image') }}</label>&nbsp;&nbsp;&nbsp;
                        <div class="form-control">
                            <span class="fa fa-image" aria-hidden="true" data-image-url="{{ form.image.data }}"></span>
                            &nbsp;&nbsp;&nbsp;
                            {{ form.del_image }}&nbsp;{{ form.del_image.label }}
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.image.label }}
                    {{ form.image(class='form-control', style='height: auto;') }}
                    {% for error in form.image.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div>
                    <button type="button" class="btn btn-primary float-right ml-1" id="btn-cancel">{{ _('Cancel') }}</button>
                    {{ form.submit(class='btn btn-success float-right') }}
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block inlinejs %}
<script>
    $(document).ready(function () {
        $("#status").bootstrapSwitch();

        {% if current_user.has_role('User') %}
            $("#status").bootstrapSwitch('disabled', true);
        {% endif %}

        $("#btn-cancel").on("click", function () {
            window.location.assign("{{ url_for('articles.list_view') }}");
        });

        $(".fa-image").popover({
                'container': 'body',
                'title': 'Photo',
                'html': true,
                'trigger': 'hover',
                'content': function() {
                        return '<img src="{{ url_for('static', filename='images/articles/' ~ form.image.data) }}' + '" style="width:200px;" alt="user image">'
                    }
            });

        $("#body").summernote({
            height: 300,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['codeview']
            ],
            codemirror: {
                theme: 'idea',
                lineNumbers: true,
                lineWrapping: true,
            },
        });

    });
</script>
{% endblock %}
